@import './color.scss';

@mixin display_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex_wrap {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

@mixin justify_content_between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

@mixin justify_content_end {
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

@mixin justify_content_center {
	-webkit-justify-content: center;
	justify-content: center;
}

@mixin justify_content_around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

@mixin align_items_center {
	align-items: center;
	-webkit-align-items: center;
}

@mixin align_items_bottom {
	align-items: flex-end;
	-webkit-align-items: flex-end;
}

@mixin flex_wrap {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

@mixin flex_column-dir {
	flex-direction: column;
	align-items: center;
}

@mixin flex1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

//mixin
@mixin whp($width, $height, $tpadding, $rpadding, $bpadding, $lpadding) {
	width: $width - $rpadding - $lpadding;
	height: $height - $tpadding - $bpadding;
	padding: $tpadding $rpadding $bpadding $lpadding;
}

// 圆角混合
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

// wrap shadow
@mixin wrap-shadow() {
	box-shadow: 0 2px 22px 0 rgba(0, 0, 0, .1);
}

// flex class
.flex-left {
	@include display_flex;
}

// 全部居中
.flex-all-center {
	@include display_flex;
	@include justify_content_center;
	@include align_items_center;
}

// 垂直居中
.flex-cross-center {
	@include display_flex;
	@include align_items_center;
}

// 底部对齐
.flex-cross-bottom {
	@include display_flex;
	@include align_items_bottom;
}

// 左右靠边平均分布
.flex-between {
	@include display_flex;
	@include justify_content_between;
}

// 左右靠边平均分布并且纵向居中
.flex-between-center {
	@include display_flex;
	@include align_items_center;
	@include justify_content_between;
}

// 左右平均分布且纵向居中
.flex-around-center {
	@include display_flex;
	@include align_items_center;
	@include justify_content_around;
}

// 向后分布
.flex-end {
	@include display_flex;
	@include justify_content_end;
}

// flex换行
.flex-wrap {
	@include flex_wrap;
}

.flex1 {
	@include flex1;
}

// flex垂直分布
.flex-column {
	@include display_flex;
	@include flex_column-dir;
}

.flex {
	@include display_flex;
}

.flex-1 {
	flex: 1;
}

.flex-c {
	flex-direction: column;
}

.flex-item-v-center {
	align-items: center;
}

.flex-item-h-center {
	justify-content: center;
}

.flex-item-around {
	justify-content: space-around;
}

.flex-item-between {
	justify-content: space-between;
}



// shadow
.shadow {
	@include wrap-shadow;
}


// 0.5px border

.border-1 {
	position: relative;
	overflow: hidden;
}

.border-1::after {
	position: absolute;
	bottom: 0;
	z-index: 0;
	width: 200%;
	height: 200%;
	box-sizing: border-box;
	content: "";
	display: block;
	border: 1Px solid #bcbcbc;
	border-radius: 10px;
	transform: scale(0.5);
	transform-origin: left bottom;
	overflow: hidden;
}

@mixin bottom1px($color) {
	position: relative;
	&::after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		top: -50%;
		right: -50%;
		bottom: -50%;
		left: -50%;
		border: 0 solid $color;
		border-bottom-width: 1Px;
		transform: scale(.5);
	}
}

@mixin top1px($color) {
	position: relative;
	&::after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		top: -50%;
		right: -50%;
		bottom: -50%;
		left: -50%;
		border: 0 solid $color;
		border-top-width: 1Px;
		transform: scale(.5);
	}
}
@mixin right1px($color) {
	position: relative;
	&::after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		top: -50%;
		right: -50%;
		bottom: -50%;
		left: -50%;
		border: 0 solid $color;
		border-right-width: 1Px;
		transform: scale(.5);
	}
}
// 1px 边框
@mixin box1px($color) {
	position: relative;
	&::after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		top: -50%;
		right: -50%;
		bottom: -50%;
		left: -50%;
		border: 0 solid $color;
		border-width: 1Px;
		transform: scale(.5);
	}
}
// 圆角1px 边框
@mixin boxRound1px($color) {
	position: relative;
	&::after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		top: -50%;
		right: -50%;
		bottom: -50%;
		left: -50%;
		border: 0 solid $color;
		border-width: 1Px;
		border-radius:999Px;
		transform: scale(.5);
	}
}