.f48 {
	font-size: 48rpx;
}
.f44{
  font-size: 44rpx;
}
.f40 {
	font-size: 40rpx;
}
.f38 {
	font-size: 38rpx;
}
.f36 {
	font-size: 36rpx;
}
.f34 {
	font-size: 34rpx;
}
.f32 {
	font-size: 32rpx;
}
.f30 {
	font-size: 30rpx;
}
.f28 {
	font-size: 28rpx;
}
.f26 {
	font-size: 26rpx;
}
.f24 {
	font-size: 24rpx;
}
.f22 {
	font-size: 22rpx;
}
.f20 {
	font-size: 20rpx;
}
.f18 {
	font-size: 18rpx;
}
.f16 {
	font-size: 16rpx;
}
.mt10{
  margin-top: 10rpx;
}
.mt20{
  margin-top: 20rpx;
}

.mb8{
  margin-bottom: 8rpx;
}
.mb10 {
	margin-bottom: 10rpx;
}
.mb20 {
	margin-bottom: 20rpx;
}
.mb30 {
	margin-bottom: 30rpx;
}
.mb50{
  margin-bottom: 50rpx;
}
.mb80{
  margin-bottom: 80rpx;
}

.ml20{
  margin-left: 20rpx;
}
.ml24{
  margin-left: 24rpx;
}
.ml30{
  margin-left: 30rpx;
}
.ml40{
  margin-left: 40rpx;
}
.mr5{
  margin-right: 5rpx;
}
.mr10{
  margin-right: 10rpx;
}
.mr20{
  margin-right: 20rpx;
}

.p10{
  padding: 10rpx;
}
.p20{
  padding: 20rpx;
}
.p30{
  padding: 30rpx;
}

.pt10{
  padding-top: 10rpx;
}
.pt20{
  padding-top: 20rpx;
}
.pt22{
  padding-top: 22rpx;
}
.pt24{
  padding-top: 24rpx;
}
.pt30{
  padding-top: 30rpx;
}
.pt40{
  padding-top: 40rpx;
}
.pt80{
  padding-top: 80rpx;
}
.pt130{
  padding-top: 130rpx;
}

.pb10{
  padding-bottom: 10rpx;
}
.pb20{
  padding-bottom: 20rpx;
}
.pb22{
  padding-bottom: 22rpx;
}
.pb30{
  padding-bottom: 30rpx;
}
.pb40{
  padding-bottom: 40rpx;
}
.pb80{
  padding-bottom: 80rpx;
}

.pr10{
  padding-right: 10rpx;
}
.pr20{
  padding-right: 20rpx;
}
.pr22{
  padding-right: 22rpx;
}
.pr24{
  padding-right: 24rpx;
}
.pr30{
  padding-right: 30rpx;
}
.pr50{
  padding-right: 50rpx;
}

.pl10{
  padding-left: 10rpx;
}
.pl16{
  padding-left: 16rpx;
}
.pl20{
  padding-left: 20rpx;
}
.pl22{
  padding-left: 22rpx;
}
.pl24{
  padding-left: 24rpx;
}
.pl30{
  padding-left: 30rpx;
}
.pl50{
  padding-left: 50rpx;
}

.plr20 {
	padding-right: 20px;
	padding-left: 20px;
}
.radius16{
  border-radius: 16rpx;
}
.radius20{
  border-radius: 20rpx;
}
.radius44{
  border-radius: 44rpx;
}